{% extends "blog/base.html" %}

{% block title %}Post Form{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4">{% if object %}Edit Post{% else %}Create New Post{% endif %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save Post</button>
                <a href="{% url 'post_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}